# Project 2: Co słychać w torrentach by KK
## Group: Wdevs $©$ 2021 


Data source: <a href="https://www.kaggle.com/nolanbconaway/whatcd-hiphop">https://www.kaggle.com/nolanbconaway/whatcd-hiphop </a>

## Podtemat: Statystyki pobrań w zależności od tagów przypisanych do płyt.

## Teza: Niektóre z płyt są częściej pobierane niż pozostałe pod wpływem tagów...

### Importowanie bibliotek i danych z pliku.

In [51]:
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as widgets
torrenty = pd.read_csv("torrenty_202106201241.csv")

## Przygotowanie danych
<p>Dane znajdują się w dwóch tabelach w bazie danych Sqlite. Dane zostały zaimportowane, tabele połączono i wyeksporotwano do jednego pliku csv.</p>
<p>Dane zawierają kolumny:</p>
<li>id - numer pobrania</li>
<li>groupName - nazwa zespołu torrent</li>
<li>totalSnatched - liczba ściągnięć</li>
<li>artist - artysta</li>
<li>groupYear - rok realizacji albumu</li>
<li>releaseType - nośnik / wydanie</li>
<li>tag - tagi (wiele tagów do jednej płyty)</li>

### Data info:

In [53]:
torrenty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161283 entries, 0 to 161282
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             161283 non-null  int64
 1   groupName      161280 non-null  object
 2   totalSnatched  161283 non-null  int64
 3   artist         161278 non-null  object
 4   groupYear      161283 non-null  int64
 5   releaseType    161283 non-null  object
 6   tag            161270 non-null  object
dtypes: int64(3), object(4)
memory usage: 8.6+ MB

In [63]:
torrenty.head()

,id,groupName,totalSnatched,artist,groupYear,releaseType,tag
0,0,superappin&#39;,239,grandmaster flash & the furious five,1979,single,1970s
1,1,superappin&#39;,239,grandmaster flash & the furious five,1979,single,funk
2,2,superappin&#39;,239,grandmaster flash & the furious five,1979,single,disco
3,3,rapper&#39;s delight,480,sugarhill gang,1979,single,1970s
4,4,rapper&#39;s delight,480,sugarhill gang,1979,single,new.york

### Finding tags:

In [64]:
tags_all = torrenty[['tag']]
tags_all

                 tag
0              1970s
1               funk
2              disco
3              1970s
4           new.york
...              ...
161278  instrumental
161279         chill
161280           pop
161281    electronic
161282     australia

[161283 rows x 1 columns]

###  Number of tags:

In [65]:
tags = tags_all.drop_duplicates().sort_values(by='tag')
num_of_tags = len(tags)
print(num_of_tags)

3678

###  List of tags (no duplicates):

In [85]:
w = widgets.IntSlider(min=0,max=num_of_tags+1,step=1,description='Tag list')
def value_handler(v):
    print(tags[v:v+10])
    
widgets.interact(value_handler, v=w)

interactive(children=(IntSlider(value=0, description='Tag list', max=3679), Output()), _dom_classes=('widget-i…

### to be continued...