In [1]:
import ipywidgets as widgets
from IPython.display import display, HTML

javascript_functions = {False: "hide()", True: "show()"}
button_descriptions  = {False: "Pokaż kod", True: "Chowaj kod"}

def toggle_code(state):
    output_string = "<script>$(\"div.input\").{}</script>"
    output_args   = (javascript_functions[state],)
    output        = output_string.format(*output_args)
    display(HTML(output))

def button_action(value):
    state = value.new
    toggle_code(state)
    value.owner.description = button_descriptions[state]

state = False
toggle_code(state)
button = widgets.ToggleButton(state, description = button_descriptions[state])
button.observe(button_action, "value")
display(button)

ToggleButton(value=False, description='Pokaż kod')

# Tags analysis
## Grupa: Wdevs $©$ 2021 
### Krzysztof Kadowski 

<hr>

## Temat: Statystyki pobrań w zależności od tagów przypisanych do płyt.

## Teza: Liczba tagów ma wpływ na wybór płyt...? 

<hr>

Przygotowanie danych. <br>
Dane znajdują się w dwóch tabelach w bazie danych Sqlite https://www.kaggle.com/nolanbconaway/whatcd-hiphop .

Dane zostały zaimportowane, tabele połączono i wyeksportowano do pliku csv.

Dane zawierają kolumny:

<li>groupName (text): Release title
<li>totalSnatched (integer): Number of times the release has been downloaded.
<li>artist (text): Artist / group name.
<li>groupYear (integer): Release year.
<li>releaseType (text): Release type (e.g., album, single, mixtape)
<li>groupId (integer): Unique release identifier from What.CD. Used to ensure no releases are duplicates.
<li>id (integer): unique identifier (essentially an index).

In [2]:
#Importing libs, and data
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import nltk
from ipywidgets import Button, Layout, jslink, IntText, IntSlider, TwoByTwoLayout, HTML
from IPython.display import display, clear_output
torrenty = pd.read_csv("torrenty_202106201241.csv")

In [3]:
torrenty.head(5)

,id,Title,totalSnatched,artist,groupYear,releaseType,tag
0,0,superappin&#39;,239,grandmaster flash & the furious five,1979,single,1970s
1,1,superappin&#39;,239,grandmaster flash & the furious five,1979,single,funk
2,2,superappin&#39;,239,grandmaster flash & the furious five,1979,single,disco
3,3,rapper&#39;s delight,480,sugarhill gang,1979,single,1970s
4,4,rapper&#39;s delight,480,sugarhill gang,1979,single,new.york

## Informacje o tagach

Tagi są dowolnymi słowami opisującymi kategorię muzyczną, lata świetności lub miejsca, w którym muzyka powstała. Z racji relacji n-n między tagami a daną płytą istnieje możliwość przyspiania kilku tagów do jednej płyty. Liczba tagów może mieć wpływ na ilość pobrań danej płyty.

In [4]:
tags_all = torrenty[['tag']]
tags = tags_all.drop_duplicates().sort_values(by='tag')
num_of_tags = len(tags)
print("Liczba unikalnych tagów: {0}".format(num_of_tags))

Liczba unikalnych tagów: 3678

In [5]:
print("Przeglądanie tagów: ")
w = widgets.IntSlider(min=0,max=num_of_tags,step=1,description='Tag list')
def value_handler(v):
    print(tags[v:v+10])
    
widgets.interact(value_handler, v=w)

Przeglądanie tagów:

interactive(children=(IntSlider(value=0, description='Tag list', max=3678), Output()), _dom_classes=('widget-i…

## Statystyki dotyczące tagów

In [6]:
torrenty.head()

,id,Title,totalSnatched,artist,groupYear,releaseType,tag
0,0,superappin&#39;,239,grandmaster flash & the furious five,1979,single,1970s
1,1,superappin&#39;,239,grandmaster flash & the furious five,1979,single,funk
2,2,superappin&#39;,239,grandmaster flash & the furious five,1979,single,disco
3,3,rapper&#39;s delight,480,sugarhill gang,1979,single,1970s
4,4,rapper&#39;s delight,480,sugarhill gang,1979,single,new.york

In [7]:
tor = torrenty[["tag", "artist", "Title",  "totalSnatched"]]

In [8]:
tor.head(5)

,tag,artist,Title,totalSnatched
0,1970s,grandmaster flash & the furious five,superappin&#39;,239
1,funk,grandmaster flash & the furious five,superappin&#39;,239
2,disco,grandmaster flash & the furious five,superappin&#39;,239
3,1970s,sugarhill gang,rapper&#39;s delight,480
4,new.york,sugarhill gang,rapper&#39;s delight,480

In [20]:
y=pd.DataFrame(tor.groupby(["tag","artist"])['totalSnatched'].sum())
y

                                                   totalSnatched
tag           artist
12bit.hip.hop nuttkase                                        18
16fever       gucci mane                                      59
1920s         various artists                                134
              weirddough                                      19
1930s         various artists                                134
...                                                          ...
zurich        elephant beach                                  13
              redhead                                        155
zwolle        fakkelbrigade                                  215
              opgezwolle                                     652
zydeco        l'il brian and the zydeco travelers              2

[95213 rows x 1 columns]

In [28]:
#listy po których można grupować
global opt1 
global opt2 
opt1 = ['-','tag', 'artist', 'Title']
opt2 = ['-','tag','artist',  'Title']

#tworzę widgety
drop_grp_1 = widgets.Dropdown(
    options=opt1,
    value='-',
    description='Group1:',
    disabled=False,
)
drop_grp_2 = widgets.Dropdown(
    options=opt2,
    value='-',
    description='Group2:',
    disabled=False,
)

bt_run = widgets.Button(description = "Run")


# funkcje
def draw_plot(x):
    print(x)

def f_grouping(button):
    lista_grp=[]
    with output:
        clear_output()
        if drop_grp_1.value!= '-':
            lista_grp.append(drop_grp_1.value)
        if drop_grp_2.value!= '-':
            lista_grp.append(drop_grp_2.value)
        x = pd.DataFrame(tor.groupby(lista_grp)['totalSnatched'].sum())
        print(x)
        #draw_plot(x)
        

def on_change(change):
    nowalista=[]
    opt2 = ['-','tag', 'artist', 'Title']
    dousuniecia = drop_grp_1.value
    opt2.remove(dousuniecia)
    drop_grp_2.options = opt2
    drop_grp_2.value = opt2[0]
    
#wyświetlanie widgetów
display(widgets.HBox([drop_grp_1, drop_grp_2, bt_run]))
output = widgets.Output()
display(output)

#metody
drop_grp_1.observe(on_change, names='value')
bt_run.on_click(f_grouping)

HBox(children=(Dropdown(description='Group1:', options=('-', 'tag', 'artist', 'Title'), value='-'), Dropdown(d…

Output()