In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from dtreeviz.trees import *
from sklearn.model_selection import cross_val_score, train_test_split, KFold, StratifiedKFold
from sklearn.metrics import mean_squared_error, accuracy_score

In [3]:
df = pd.read_csv('processed_data_toDummies.csv')

In [9]:
df.head(2)

,Year,Hobbyist,ConvertedComp,Country,EdLevel,Employment,JobSat,OrgSize,UndergradMajor,YearsCodePro,Data scientist or machine learning specialist,Database administrator,Data or business analyst,"Engineer, data"
0,2017,"Yes, both",43750.00000,United Kingdom,Bachelor's degree,Employed full-time,4.0,2 to 9 employees,Computer science,2.0,1,1,NaN,NaN
1,2017,"Yes, I program as a hobby",51282.05128,Denmark,Some college/university study without earning ...,Employed part-time,10.0,100 to 499 employees,Computer science,3.0,1,0,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33601 entries, 0 to 33600
Data columns (total 14 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Year                                           33601 non-null  int64
 1   Hobbyist                                       33601 non-null  object
 2   ConvertedComp                                  33601 non-null  float64
 3   Country                                        33601 non-null  object
 4   EdLevel                                        33138 non-null  object
 5   Employment                                     33561 non-null  object
 6   JobSat                                         33526 non-null  float64
 7   OrgSize                                        31904 non-null  object
 8   UndergradMajor                                 30515 non-null  object
 9   YearsCodePro                                   33518 non-null  float64
 10  Data scientist or machine learning specialist  33601 non-null  int64
 11  Database administrator                         33601 non-null  int64
 12  Data or business analyst                       31037 non-null  float64
 13  Engineer, data                                 20246 non-null  float64
dtypes: float64(5), int64(3), object(6)
memory usage: 3.6+ MB

In [4]:
## wbieramy zmienne, któe mają sens - wyrzucamy takie, które jednoznaczne charakteryzują obserwację
feature_columns = ['Year','Hobbyist','Country','EdLevel','Employment','JobSat','OrgSize', 'UndergradMajor', 'YearsCodePro']
feature_columns = ['Year', 'JobSat', 'YearsCodePro', 'Data scientist or machine learning specialist', 'Database administrator', 'Data or business analyst', 'Engineer, data']
target = 'ConvertedComp'
## usuwamy wybrakowane dane 
X = df[ feature_columns + [target]].dropna()
Y = X[target]

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.1)

In [6]:
# zakres paametru
max_depths = list(range(2,15))
# pusta lista do której będziemy "wkładać" accuracy dla zbioru treningowego

model = DecisionTreeRegressor(max_depth=20).fit(X_train,Y_train)
predict_train = model.predict(X_train)
predict_test = model.predict(X_test)
    
mse = mean_squared_error(Y_test, predict_test, squared=True)
rmse = mean_squared_error(Y_test, predict_test, squared=False)
print(np.mean(Y_test), np.std(Y_test))
print(np.mean(predict_test), np.std(predict_test))
print(f'mse {mse}, rmse {rmse}')

fig = plt.figure(figsize=(8,8))
#plt.scatter(Y_test, Y_test - predict_test)

63645.04117063492 49957.914137522
63643.54513888889 49954.17798230538
mse 2072.3948412698414, rmse 45.5235635827188

In [9]:
forest = RandomForestRegressor(max_depth=20)
forest.fit(X_train,Y_train)
predict_train = forest.predict(X_train)
predict_test = forest.predict(X_test)

mse = mean_squared_error(Y_test, predict_test, squared=True)
rmse = mean_squared_error(Y_test, predict_test, squared=False)
print(np.mean(Y_test), np.std(Y_test))
print(np.mean(predict_test), np.std(predict_test))
print(f'mse {mse}, rmse {rmse}')

63645.04117063492 49957.914137522
63643.06152281746 49953.84065867723
mse 1388.3100202877, rmse 37.26003247835004